<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Space of Shaders</title>
  </head>
  <body>
    <div id="container">
      <header>
        <nav>
          <ul>
            <li>link 1</li>
            <li>link 2</li>
          </ul>
        </nav>
      </header>
      <main>
        <slot />
      </main>
      <footer>
        <ul>
          <li>link 1</li>
          <li>link 2</li>
        </ul>
      </footer>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fffce1;
    color: #0e100f;
  }

  a:hover {
    color: #bbbaa6;
  }

  #container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  header,
  footer {
    flex-shrink: 0; /* Prevents shrinking */
  }

  main {
    flex-grow: 1;
    overflow: auto;
  }
</style>
